<div style="width: 100%;">
    <div fxLayout="row wrap" style="margin-top: 10px;">
        <div fxFlex="49" fxFlex.xs="100%" fxFlex.sm="25%" fxLayoutAlign="center center">
            <mat-form-field appearance="outline" style="margin-top: 10px;" class="form-field-style primary-font-family"
                style="margin-top: 10px; width: 100%;">
                <mat-label style="padding-left: -5px;">Enter Your Registered Mobile number *:</mat-label>
                <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon>
                <input matInput type="tel" class="input_style" placeholder="Enter Your Registered Mobile  number *:" />
            </mat-form-field>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="49" fxFlex.xs="100%" fxFlex.sm="25%" fxLayoutAlign="center center">
            <mat-form-field appearance="outline" style="width: 100%; color: honeydew;margin-top: 10px;"
                class="form-field-style primary-font-family">
                <mat-label style="font-size: 14px;">VERIFY VIA</mat-label>
                <mat-select>
                    <mat-option value="Whatsapp">Whatsapp</mat-option>
                    <mat-option value="Telegram">Telegram</mat-option>
                    <mat-option value="Facebook messenger">Facebook messenger</mat-option>
                    <mat-option value="Wechat">Wechat</mat-option>
                    <mat-option value="Viber">Viber</mat-option>
                    <mat-option value="Slack">Slack</mat-option>
                    <mat-option value="SMS">SMS</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-form-field appearance="outline" style="margin-top: 10px;" class="form-field-style primary-font-family"
            style="margin-top: 10px; width: 100%;">
            <mat-label >Enter OTP:</mat-label>
            <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon>
            <input matInput type="tel" class="input_style" placeholder="Enter OTP:" />
        </mat-form-field>
    </div>
    <div style="margin-top: 20px; width: 100%;" fxLayoutAlign="center center">
        <button mat-flat-button class="reset-psw-btn primary-font-family">RESET PASSWORD</button>
    </div>
    <div style="text-align: center; margin-top: 10px;">
        If you forgot your registered mobile no,<br>
        request yourbiz admin to reset password.:
    </div>
    <div style="text-align: center;">
        <img style="margin-top: 10px; width: 30px;height: 30px;cursor: pointer;" src="../../../../assets/icons/chat.png" alt="Audits">
    </div>
</div>