<form style="margin: 10px;">
    <div fxLayout="column" fxLayoutAlign="start">
        <div class="apps-titles-style">Apps Development Console :</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size" [routerLink]="['/manage-app/login1']">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Apps Development Console
                </div>
            </div>
        </div>
        
        <div class="bottom-line"></div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
        <div class="apps-titles-style">Recently Used Apps :</div>
        
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size" >
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Payments for YourBiz.app
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Favourite Apps :</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center" [routerLink]="['/manage-app/getster-category-admin']">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    GETSTER Category Admin App
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Users Login Session Data App
                </div>
            </div>
        </div>
        <div class="bottom-line"></div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
        <div class="apps-titles-style">Finance & Accounting Apps :</div>
        
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center" [routerLink]="['/manage-app/user-login-session-data']">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    User Login
                    Session Data
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Billing and Customer Acc Managment for YourBiz.app
                </div>
            </div>

            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Payments for YourBiz.app
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Admin Apps :</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column"  class="app-mat-card-margin-left" fxLayoutAlign="center center" [routerLink]="['/manage-app/getster-access-control']">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    GETSTERs Admin App
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                    class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    GETSTER Category Admin App
                </div>
            </div>
        </div>
        <div class="bottom-line"></div>
    </div>
</form>