<div fxLayout="row wrap" style="margin-top: 10px;">
    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="33%" class="login-screen-height"
        fxLayoutAlign="center center">

        <div style="margin-top: 20px;">
            <div>
                <a href="" style="color: blue; cursor: pointer;"> Login to Access “Users Login Session Data App”</a>
            </div>

            <div fxLayoutAlign="center center" style="margin-top:20px">
                Face Recognition Login*
            </div>
            <div fxLayoutAlign="center center" style="margin-top: 10px;">
                <img src="../../../../../assets/images/capture.png" alt=""
                    style="height: 240px;width: 240px; cursor: pointer;">
            </div>

            <form [formGroup]="signinForm" (ngSubmit)="signin()" style="width: 100%;" fxLayoutAlign="center center">
                <div style="width: 60%;">
                    <mat-form-field appearance="outline" class="form-field-style"
                        style="margin-top: 10px;margin-left: 10px; width: 100%;">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix class="icon-prefix-padding">lock_outline</mat-icon>
                        <input type="password" class="input_style" matInput placeholder="Password" value=""
                            [type]="hide ? 'text' : 'password'" />
                        <icon style="cursor: pointer;" mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
                        </icon>
                        <!-- <mat-error *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched">
                            Password is required!
                        </mat-error> -->
                    </mat-form-field>

                    <div style="margin-top: 10px;" fxLayoutAlign="center center">
                        <button mat-flat-button class="sign-in-btn" [routerLink]="['/manage-app/appdevelopmentconsole']">LOG IN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center center">
        <div style="margin-top: 20px;">
        <div>
            <a href="" style="color: blue;">In case your webcamera is not working:</a><br>
            1. Face Login with your mobile<br>
            2. Click on “<a href="" style="color: blue;">get</a>biz.<a href="" style="color: blue;">app</a>” icon on the title bar.<br>
            3. Click on “Scan QR Code for Secure LOGIN”<br>
            4. Scan the following QR code to login.<br>
        </div>

        <div fxLayoutAlign="center center" style="margin-top: 10px; margin-top: 20px;">
            <img src="../../../../../assets/images/barcode.png" alt=""
                style="height: 200px;width: 200px; margin-top: 20px; cursor: pointer;">
        </div>
        </div>
    </div>
</div>