<form>
    <div fxLayout="column" fxLayoutAlign="start">

        <div fxLayout="row wrap" style="margin-top: 10px;" fxHide.xs>
            <div fxFlex="49" fxFlex.xs="30" fxFlex.sm="30" class="heding-text">Apps Under Development</div>

            <div fxFlex="15" fxFlex.xs="18" fxFlex.sm="20">
                <button class="app-button" mat-stroked-button>EDIT</button>
            </div>

            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="15"></div>


            <div fxFlex="15" fxFlex.xs="24" fxFlex.sm="20">
                <button class="publish-button" mat-stroked-button>PUBLISH</button>
            </div>
            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
            <div fxFlex="15" fxFlex.xs="18" fxFlex.sm="20">
                <button class="app-button" mat-stroked-button
                    [routerLink]="['/manage-app/add-edit-generic-apps']">ADD</button>
            </div>
            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
        </div>

        <div style="margin-top: 5px;" xHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl>
            <div class="heding-text">Apps Under Development</div>

            <div fxLayout="row wrap" style="margin-top: 5px;">

                <div fxFlex="15" fxFlex.xs="20" fxFlex.sm="20">
                    <button class="app-button" mat-stroked-button>EDIT</button>
                </div>

                <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="15"></div>


                <div fxFlex="15" fxFlex.xs="24" fxFlex.sm="20">
                    <button class="publish-button" mat-stroked-button>PUBLISH</button>
                </div>
                <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
                <div fxFlex="15" fxFlex.xs="20" fxFlex.sm="20">
                    <button class="app-button" mat-stroked-button
                        [routerLink]="['/manage-app/add-edit-generic-apps']">ADD</button>
                </div>
                <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
            </div>
        </div>


        <div class="apps-titles-style">Admin Apps :</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    User Category Admin
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size" [routerLink]="['/manage-app/login1']">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    User Managememt
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size" [routerLink]="['/manage-app/login1']">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    APP Management
                </div>
            </div>
        </div>
        <div class="apps-titles-style">Communication Apps :</div>

        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Chat App
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    BroadCast
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-line"></div>
    <div fxLayout="column" fxLayoutAlign="start" style="margin-top: 20px;">
        <div fxLayout="row wrap" style="margin-top: 10px;" fxHide.xs>
            <div fxFlex="40" fxFlex.xs="45" fxFlex.sm="45" class="heding-text">Apps Published for Users</div>

            <div mat-icon-button fxLayout="column" fxLayoutAlign="start start" fxHide.xs>
                <mat-form-field style="color: honeydew;font-size: 14px;">
                    <mat-label style="font-size: 14px;">SORT BY</mat-label>
                    <mat-select>
                        <mat-option value="1">App Categories</mat-option>
                        <mat-option value="2">A to Z</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>

            <div fxFlex="15" fxFlex.xs="15" fxFlex.sm="18">
                <button class="app-button" mat-stroked-button>EDIT</button>
            </div>

            <div fxFlex="2" fxFlex.xs="5" fxFlex.sm="5"></div>


            <div fxFlex="15" fxFlex.xs="30" fxFlex.sm="30">
                <button class="publish-button" mat-stroked-button>UNPUBLISH</button>
            </div>

            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
        </div>

        <!-- mobile -->
        <div style="margin-top: 10px;" fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl>
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50" class="heding-text">Apps Published for Users</div>

              
            </div>
            
            <div fxLayout="row wrap">
                <div fxFlex="40" fxFlex.xs="43" fxFlex.sm="43">
                    <div mat-icon-button fxLayout="column" fxLayoutAlign="start start">
                        <mat-form-field style="color: honeydew;font-size: 14px;width: 80%;">
                            <mat-label style="font-size: 14px;">SORT BY</mat-label>
                            <mat-select>
                                <mat-option value="1">App Categories</mat-option>
                                <mat-option value="2">A to Z</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="1" fxFlex.xs="1" fxFlex.sm="1"></div>

                <div fxFlex="15" fxFlex.xs="18" fxFlex.sm="18" style="margin-top: 10px;">
                    <button class="app-button" mat-stroked-button>EDIT</button>
                </div>

                <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>


                <div fxFlex="15" fxFlex.xs="28" fxFlex.sm="28" style="margin-top: 10px;">
                    <button class="publish-button" mat-stroked-button>UNPUBLISH</button>
                </div>
            </div>
        </div>
        <div class="apps-titles-style">Human Resources (HR) Apps :</div>

        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Attendance & Tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Leave Request
                </div>
            </div>

            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Expenses Reimbursement
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Productivity Apps: </div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Calendar
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Project Schedule
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Block Social Media
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Supplier Management Apps:</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Quotation/Bidding
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Supplier Purchase Order
                </div>
            </div>

        </div>

        <div class="apps-titles-style">Customer Management Apps:</div>
        <div fxLayout="row" class="apps-padding" style="margin-bottom: 20px;">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Customer Order/ Tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Catalog
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Vehicle tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size" alt="Audits">
                </mat-card>
                <div class="app-name-text-style">
                    Enquiry
                </div>
            </div>
        </div>
    </div>
</form>