<form>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxLayout="row wrap" class="apps-padding">
            <div fxFlex="100" fxFlex.gt-xs="70" class="apps-heading-style">Apps Under Development</div>
            <div  fxLayout="row" fxFlex="100" fxFlex.gt-xs="30" style="margin-top: 10px;">
                <button class="app-button" mat-stroked-button>EDIT</button>
                <button class="publish-button" mat-stroked-button>PUBLISH</button>
                <button class="app-button" mat-stroked-button>ADD</button>
            </div>
        </div>

        <div class="apps-titles-style">Finance & Accounting Apps :</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Billing and Customer 
                    Acc Managment for YourBiz.app
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px grid">
        <div fxLayout="row wrap" class="apps-padding" style="margin-top: 16px;">
            <div fxFlex="100" fxFlex.gt-xs="70" class="apps-heading-style">Apps Published for Users</div>
            <div  fxLayout="row" fxFlex="100" fxFlex.gt-xs="30">
                <button class="app-button" mat-stroked-button>SORT BY</button>
                <button class="app-button" mat-stroked-button>EDIT</button>
                <button class="unpublish-button" mat-stroked-button>UNPUBLISH</button>
            </div>
        </div>
        <div class="apps-titles-style">Admin Apps :</div>

        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Attendance & Tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Leave Request
                </div>
            </div>

            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Expenses Reimbursement
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Developer Managmeent Apps:</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Calendar
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Project Schedule
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Block Social Media
                </div>
            </div>
        </div>

        <div class="apps-titles-style">Consultant Management Apps:</div>
        <div fxLayout="row" class="apps-padding">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Quotation/Bidding
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Supplier Purchase Order
                </div>
            </div>

        </div>

        <div class="apps-titles-style">Apps under Alpha Trials:</div>
        <div fxLayout="row" class="apps-padding" style="margin-bottom: 20px;">
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Customer Order/ Tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Catalog
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Vehicle tracking
                </div>
            </div>
            <div fxLayout="column" class="app-mat-card-margin-left" fxLayoutAlign="center center">
                <mat-card class="app-mat-card-size">
                    <img fxLayoutAlign="center center" src="../../../../assets/images/app_development.png"
                        class="app-mat-card-img-size">
                </mat-card>
                <div class="app-name-text-style">
                    Enquiry
                </div>
            </div>
        </div>
        <div class="apps-titles-style">Apps under Beta Trials:</div>
    </div>
</form>