<div>
    <div fxLayout="row wrap" style="margin-top: 10px;" fxHide.xs>
        <div fxFlex="3" fxFlex.xs="100%" fxFlex.sm="3"></div>
        <div fxFlex="40" fxFlex.xs="100%" fxFlex.sm="40" class="heding-text primary-color">
            <u style="font-size: 14px; font-weight: 600;">User Activity in this app is recorded under Audit Trail to
                track misuse. </u>
        </div>
        <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="2"></div>
        <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="25" style="font-size: 14px; font-weight: 600;"
            class="heding-text primary-color">ADD/EDIT Custom Apps
        </div>
        <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="2"></div>
        <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="25">
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50" class="heding-text">APP ID No:</div>
                <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50">
                    <button class="app-btn" mat-stroked-button>a2012011</button>
                </div>
            </div>
        </div>
        <div fxFlex="3" fxFlex.xs="100%" fxFlex.sm="3"></div>
    </div>

    <div fxLayout="row wrap" style="margin-top: 10px;" fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl>
        <div fxFlex="3" fxFlex.xs="100%" fxFlex.sm="3"></div>
        <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="25" style="font-size: 14px; font-weight: 600; text-align: center;"
            class="heding-text primary-color">ADD/EDIT Apps for all Users
        </div>
        <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="2"></div>
        <div fxFlex="40" fxFlex.xs="100%" fxFlex.sm="40" class="heding-text primary-color">
            <u style="font-size: 14px; font-weight: 600;">User Activity in this app is recorded under Audit Trail to
                track misuse. </u>
        </div>
        <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="2"></div>
        <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="25">
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50" class="heding-text">APP ID No:</div>
                <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50">
                    <button class="app-btn" mat-stroked-button>a2012011</button>
                </div>
            </div>
        </div>
        <div fxFlex="3" fxFlex.xs="100%" fxFlex.sm="3"></div>
    </div>

    <div fxLayout="row wrap" style="margin-top: 10px;">
        <div fxFlex="100" fxFlex.gt-xs="49" fxFlex.sm="49">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="6" fxFlex.sm="6"></div>
                <div fxFlex="100" fxFlex.gt-xs="30" fxFlex.sm="30" class="key-text">
                    <div fxLayoutAlign="start center">Name of the App <span style="color: red;"> * </span>:</div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="64" fxFlex.sm="64">

                    <mat-form-field appearance="outline" class="form-field-style"
                        style="width: 100%; border-radius: 20px;">
                        <!-- <mat-label style="padding-left: -5px;">Enter Your Registered Mobile number *:</mat-label> -->
                        <!-- <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon> -->
                        <input matInput type="tel" class="input_style primary-font-family"
                            placeholder="Enter Your App Name *:" />

                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap" class="ml-form-padding-right">
                <div fxFlex="100" fxFlex.gt-xs="6" fxFlex.sm="6"></div>
                <div fxFlex="100" fxFlex.gt-xs="30" fxFlex.sm="30" class="key-text">
                    <div fxLayoutAlign="start center">App web link <span style="color: red;"> * </span>:
                        <span style="color: gray; margin-left: 25px;">getbiz.app/</span>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="54" fxFlex.sm="54">

                    <mat-form-field appearance="outline" class="form-field-style"
                        style="width: 100%; border-radius: 20px;">
                        <!-- <mat-label style="padding-left: -5px;">Enter Your Registered Mobile number *:</mat-label> -->
                        <!-- <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon> -->
                        <input matInput type="tel" class="input_style primary-font-family"
                            placeholder="getstercategoryadminapp" />

                    </mat-form-field>

                    <span style="font-size: 12px;">Preview: <span
                            style="color: gray;">getbiz.app/getstercategoryadminapp</span></span>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="6" fxFlex.sm="6" style="color: gray; margin-top: 20px;"></div>
                <div fxFlex="100" fxFlex.gt-xs="4" fxFlex.sm="4"
                    style="color: gray; margin-top: 20px; font-size: 12px;">app</div>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="2" fxFlex.sm="2"></div>
        <div fxFlex="100" fxFlex.gt-xs="49" fxFlex.sm="49">
            <div class="key-text">Name to be displayed in title bar *:</div>
            <div>
                <mat-form-field appearance="outline" class="form-field-style" style="width: 70%; border-radius: 20px;">
                    <!-- <mat-label style="padding-left: -5px;">Enter Your Registered Mobile number *:</mat-label> -->
                    <!-- <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon> -->
                    <input matInput type="tel" class="input_style primary-font-family"
                        placeholder="GETSTER Category Admin" />

                </mat-form-field>
                <span style="color: gray; margin-left: 10px; font-size: 12px;">- Restricted Access</span>
            </div>
        </div>
    </div>

    <app-header1 class="header"></app-header1>

    <div class="bottom-line"></div>

    <div style="margin-top: 20px;">
        <div class="heding-text">Categorization of this APP *:</div>
    </div>

    <div class="bottom-line"></div>

    <div style="margin-top: 20px;">
        <div fxLayout="row wrap" style="margin-top: 10px;">
            <div fxFlex="33.3" fxFlex.xs="100%" fxFlex.sm="33">
                <div fxLayoutAlign="center center" class="heding-text">App Icon Image</div>
                <div fxLayoutAlign="center center" style="margin-top: 10px;">
                    <img src="../../../../../../../assets/icons/upload.png" alt="" style="cursor: pointer;">
                </div>
            </div>
            <div fxFlex="33.3" fxFlex.xs="100%" fxFlex.sm="33">
                <div fxLayoutAlign="center center" class="heding-text">Name of the App <span style="color: red;"> *
                    </span>:</div>
                <div fxLayoutAlign="center center" style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="form-field-style"
                        style="width: 80%; border-radius: 20px;">
                        <!-- <mat-label style="padding-left: -5px;">Enter Your Registered Mobile number *:</mat-label> -->
                        <!-- <mat-icon matPrefix class="icon-prefix-padding">smartphone</mat-icon> -->
                        <input matInput type="tel" class="input_style primary-font-family"
                            placeholder="GETSTER Category Admin App *:" />

                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="33.3" fxFlex.xs="100%" fxFlex.sm="33">
                <div fxLayout="row wrap" style="margin-top: 10px;">
                    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="50" fxLayoutAlign="center center" class="heding-text">
                        Preview of App Icon:
                    </div>
                    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="50" style="margin-top: 10px;">
                        <div fxLayoutAlign="center center">
                            <img src="../../../../../../../assets/icons/logo.png" alt="" style="cursor: pointer;">
                        </div>
                        <div fxLayoutAlign="center center" class="heding-text">GETSTER Category Admin App</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-line"></div>
    <div style="margin-top: 20px;">
        <div fxLayout="row wrap" style="margin-top: 10px;">
            <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
                <div>Choose the customers who can access this custom app</div>
                <div class="mat-elevation-z8 " style="margin: 24px;">
                    <table mat-table [dataSource]="dataSourceCustomApp">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterCustomAppToggle() : null"
                                    [checked]="selectionCustomApp.hasValue() && isCustomAppAllSelected()"
                                    [indeterminate]="selectionCustomApp.hasValue() && !isCustomAppAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionCustomApp.toggle(row) : null" [checked]="selectionCustomApp.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                
                        <!-- Name Column -->
                        <ng-container matColumnDef="biz_app_name">
                            <th mat-header-cell *matHeaderCellDef>Biz App Name	</th>
                            <td mat-cell *matCellDef="let element"> {{element.biz_app_name}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="biz_app_id">
                            <th mat-header-cell *matHeaderCellDef>Biz ID #</th>
                            <td mat-cell *matCellDef="let element"> {{element.biz_app_id}} </td>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCustomApp"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCustomApp;" (click)="selectionCustomApp.toggle(row)">
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
                <div>Generic User Apps that need to be hidden/replaced for the Customer:</div>
                <div class="mat-elevation-z8 " style="margin: 24px;">
                    <table mat-table [dataSource]="dataSourceGenericApp">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterGenericAppToggle() : null"
                                    [checked]="selectionGenericApp.hasValue() && isGenericAppAllSelected()"
                                    [indeterminate]="selectionGenericApp.hasValue() && !isGenericAppAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionGenericApp.toggle(row) : null" [checked]="selectionGenericApp.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                
                        <!-- Name Column -->
                        <ng-container matColumnDef="app_name">
                            <th mat-header-cell *matHeaderCellDef>App Name		</th>
                            <td mat-cell *matCellDef="let element"> {{element.app_name}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="app_id">
                            <th mat-header-cell *matHeaderCellDef>App ID # #</th>
                            <td mat-cell *matCellDef="let element"> {{element.app_id}} </td>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsGenericApp"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsGenericApp;" (click)="selectionGenericApp.toggle(row)">
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line"></div>
    <div style="margin-top: 20px;">
        <div fxLayout="row wrap" style="margin-top: 10px;">
            <div fxFlex="48" fxFlex.xs="100%" fxFlex.sm="48">
                <div fxLayoutAlign="start center" class="heding-text">About This App:</div>
                <div fxLayoutAlign="center center">
                    <textarea cols="70" style="height: 200px; width: 100%;">
                    </textarea>
                </div>
            </div>
            <div fxFlex="4" fxFlex.xs="100%" fxFlex.sm="4"></div>
            <div fxFlex="48" fxFlex.xs="100%" fxFlex.sm="48">
              

            </div>
        </div>
        <div style="margin-top: 10px;">
            <div fxLayoutAlign="start center" class="heding-text">App Description:</div>
            <div fxLayoutAlign="center center">
                <textarea cols="70" style="height: 200px; width: 100%;">
            </textarea>
            </div>
        </div>

        <div style="margin-top: 10px;" class="heding-text">
            Upload Attachment :
        </div>

        <div>
            <dropzone class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row"
                fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag images here to upload'"
                (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
            </dropzone>
        </div>

        <div style="margin-top: 10px;margin-bottom: 20px;">

            <div fxLayout="row wrap" style="margin-top: 10px;">
                <div fxFlex="48" fxFlex.xs="100%" fxFlex.sm="48">
                    <div fxLayout="row wrap" style="margin-top: 10px;">
                        <div fxFlex="50" fxFlex.xs="50" fxFlex.sm="50">
                            <div class="heding-text">Notifications:</div>
                        </div>
                        <div fxFlex="25" fxFlex.xs="25" fxFlex.sm="25">
                            <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button
                                class="new-getster-btn">
                                ADD
                            </button>
                        </div>
                        <div fxFlex="25" fxFlex.xs="25" fxFlex.sm="25">
                            <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button
                                class="new-getster-btn">
                                EDIT
                            </button>
                        </div>
                    </div>

                    <div>
                        <mat-card class="p-0 card-height" style="height: 250px;">
                            <div fxLayout="row wrap">
                                <div fxFlex="30" fxFlex.xs="100%" fxFlex.sm="25%">
                                    <img src="../../../../../../../assets/icons/getbizapp.png" alt=""
                                        style="cursor: pointer; height: 25px;">
                                </div>
                                <div fxFlex="70" fxFlex.xs="100%" fxFlex.sm="25%">
                                    <div><span style="color: gray;">12 Dec 2021</span></div>
                                </div>
                            </div>
                            <div class="comments-text">The app has been updated to include more features.</div>
                            <div class="bottom-line"></div>
                        </mat-card>
                    </div>
                </div>

                <div fxFlex="4" fxFlex.xs="100%" fxFlex.sm="4"></div>

                <div fxFlex="48" fxFlex.xs="100%" fxFlex.sm="48">

                    <div style="margin-top: 10px;" fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl>
                        <div class="heding-text">Comment/Suggestion from Users:</div>

                        <div fxLayout="row wrap" style="margin-top: 10px;">
                            <div fxFlex="35" fxFlex.xs="35" fxFlex.sm="35">
                                <button mat-flat-button class="new-getster-btn">
                                    PRIVATE REPLY
                                </button>
                            </div>
                            <div fxFlex="5" fxFlex.xs="5" fxFlex.sm="5"></div>

                            <div fxFlex="35" fxFlex.xs="35" fxFlex.sm="35">
                                <button mat-flat-button class="new-getster-btn">
                                    PUBLIC REPLY
                                </button>
                            </div>
                            <div fxFlex="2" fxFlex.xs="2" fxFlex.sm="2"></div>
                            <div fxFlex="20" fxFlex.xs="20" fxFlex.sm="20">
                                <button mat-flat-button class="new-getster-btn">
                                    DELETE
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row wrap" style="margin-top: 10px;" fxHide.xs>
                        <div fxFlex="40" fxFlex.xs="40" fxFlex.sm="40">
                            <div class="heding-text">Comment/Suggestion from Users:</div>
                        </div>
                        <div fxFlex="20" fxFlex.xs="40" fxFlex.sm="40">
                            <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button
                                class="new-getster-btn">
                                PRIVATE REPLY
                            </button>
                        </div>
                        <div fxFlex="20" fxFlex.xs="40" fxFlex.sm="40">
                            <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button
                                class="new-getster-btn">
                                PUBLIC REPLY
                            </button>
                        </div>
                        <div fxFlex="20" fxFlex.xs="40" fxFlex.sm="40">
                            <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button
                                class="new-getster-btn">
                                DELETE
                            </button>
                        </div>
                    </div>

                    <div>
                        <mat-card class="p-0 card-height" style="height: 250px; margin-top: 10px;">
                            <div fxLayout="row wrap">
                                <div fxFlex="10" fxFlex.xs="25" fxFlex.sm="25">
                                    <img src="../../../../../../../assets/icons/profile_icon.png" alt=""
                                        style="cursor: pointer;">
                                </div>
                                <div fxFlex="80" fxFlex.xs="65" fxFlex.sm="65">
                                    <div><span><u style="color: blue;">Maximillian Jacobson</u></span><span
                                            style="color: gray;"> - XYZ Company - Manager</span></div>
                                    <div class="comments-text">This app was very helpful in solving the real industry
                                        problem.</div>
                                </div>
                                <div fxFlex="10" fxFlex.xs="10" fxFlex.sm="10">
                                    <mat-checkbox></mat-checkbox>
                                </div>
                            </div>

                            <div class="bottom-line"></div>

                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayoutAlign="end end">

        <button style="margin-left: 10px; margin-bottom: 20px;" mat-flat-button class="new-getster-btn">
            SAVE
        </button>

    </div>

</div>