@import "../../../../../styles.css";

.getster-category-screen-height{
    height: calc(100vh - 187px);
    overflow-y: auto;
    border-right: 2px solid gray;
}

 .pth{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  .ptd  {
      width: 50%;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #9C9A9A;
  }

  .additional-data-ptd  {
    border-radius: 10px;
    width: 50%;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 2px;
  padding-left: 20px;
  margin-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #9C9A9A;
}


.normal-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #9C9A9A;
}

.bold-value {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #333333;
}


.input_style {
    margin-left: 8px;
}
.form-field-style {
    margin-bottom: -1.25em !important;
    font-size: 14px;
    width: 100%;
}

.new-getster-btn{
    color: #ffffff;
    background-color: #3366FF;
}

.btn-float-right{
    top: auto;
    right: 20px;
    bottom: 20px;
    position: absolute;
}

table {
    width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding: 10px !important;
}

tr.mat-row, tr.mat-footer-row {
    height: 38px !important;
}

.mat-header-cell {
    color: #3366FF !important;
    font-size: 14px;
    font-weight: 700px;
}

.mat-row:nth-child(even){
    background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
    background-color:#ffffff;
}