<form [formGroup]="appDevelopmentConsoleForm" (ngSubmit)="onSubmit($event)">
    <div>
        <div fxLayout="row" style="width: 100%; margin-top: 5px;">
            <div fxFlex="100" fxFlex.gt-xs="50"  fxLayoutAlign="start" class="app-development-title">
               <a href="Under Video/Activity Surveillance"> Under Video/Activity Surveillance</a>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="17" style="width: 100%;">
                <div style="padding:10px">
                    <button class="app-development-btn" mat-stroked-button type="submit" name="AppForUser"
                        [ngStyle]="{'background': getColor('AppForUser')}">
                        PWA Apps for Users
                    </button>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="17" style="width: 100%;">
                <div style="padding:10px">
                    <button class="app-development-btn" mat-stroked-button type="submit" name="AppForGetsters"
                        [ngStyle]="{'background': getColor('AppForGetsters')}">
                        Apps for GETSTERs
                    </button>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="17" style="width: 100%;">
                <div style="padding:10px">
                    <button class="app-development-btn" mat-stroked-button type="submit" name="LaunchScreenimages"
                        [ngStyle]="{'background': getColor('LaunchScreenimages')}">
                        Launch Screen Images
                    </button>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="17" style="width: 100%;">
                <div style="padding:10px">
                    <button class="app-development-btn" mat-stroked-button type="submit" name="ConsoleUser"
                        [ngStyle]="{'background': getColor('ConsoleUser')}">
                        Console Users
                    </button>
                </div>
            </div>
        </div>

        <div style="margin-top: -10px;">
            <app-appsforusers style="width: 100%;" *ngIf="tabName == 'AppForUser'"></app-appsforusers>
            <app-appsforgetsters style="width: 100%" *ngIf="tabName == 'AppForGetsters'">
            </app-appsforgetsters>
            <app-launchscreenimages style="width: 100%" *ngIf="tabName == 'LaunchScreenimages'">
            </app-launchscreenimages>
            <app-consoleuser style="width: 100%" *ngIf="tabName == 'ConsoleUser'"></app-consoleuser>
        </div>

    </div>
</form>

<!-- <mat-tab-group style="width: 90%;" style="margin-top: 15px;">
    <mat-tab label="PWA Apps for Users">
        <app-appsforusers></app-appsforusers>
    </mat-tab>
    <mat-tab label="Apps for GETSTERs">
        <app-appsforgetsters></app-appsforgetsters>
    </mat-tab>
    <mat-tab label="Launch Screen Images">
        <app-launchscreenimages></app-launchscreenimages>
    </mat-tab>
</mat-tab-group> -->