@import "../../../../styles.css";
.login-right-side-text-style{
    align-items: center;  text-align: center;
    font-weight: 550;
}

.input_style {
    margin-left: 8px;
}

.form-field-style {
    margin-bottom: -1.25em !important;
    font-size: 14px;
    width: 100%;
}

.register-getster-btn{
    color: #ffffff;
    background-color: #3366FF;
}

.btn-float-right{
    top: auto;
    right: 20px;
    bottom: 20px;
    position: absolute;
}

.heading_text{
    color: #3366FF;
    margin-top: 20px;
    font-weight: 600;
}

.form-field-width{
    width: 60%;
}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (max-width: 599px) {
    .heading_text{
       font-size: 12px;
       margin-top: 10px;
    }
    .form-field-style{
        line-height: 19px;
    }
    .login-right-side-text-style{
        font-size: 14px;
        margin: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .form-field-width{
        width: 100%;
    }
}
