<div class="mp-header">
    <mat-toolbar color="primary" [ngClass]="toggleMenu ? 'angular-material-toolbar' : 'material-toolbar'">
        <div>
            <!-- <a routerLink="/"> -->
                <img style="margin-top: 27px;height: 55px;width: 55px;" src="../../../../../assets/icons/logo.png" alt="Audits set-up in Chrome DevTools">
            <!-- </a> -->
        </div>
        <div class="toolbar-text">www.getbiz.app</div>
        <span class="spacer"></span>
        <div fxHide.xs mat-icon-button fxLayout="column" fxLayoutAlign="center center" class="icon-img">
            <img style="margin-left: 10px; width: 20px;height: 20px; cursor: pointer;"
                src="../../../../../assets/icons/share.png" alt="Audits set-up in Chrome DevTools">
        </div>
        <div fxHide.xs mat-icon-button fxLayout="column" fxLayoutAlign="center center">
            <div style="margin-left: 10px; color: #FFFFFF; font-size: 16px;margin-right: 5px; cursor: pointer;">Download
                Web App</div>
        </div>
        <div fxHide.xs mat-icon-button fxLayout="column" fxLayoutAlign="center center" class="icon-img">
            <img style="width: 20px;height: 20px;cursor: pointer;" src="../../../../../assets/icons/download.png" alt="Audits set-up in Chrome DevTools">
        </div>
        <div fxHide.xs mat-icon-button fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field style="color: honeydew;font-size: 14px;">
                <mat-label style="font-size: 14px;">Select Language</mat-label>
                <mat-select>
                    <mat-option value="English">English</mat-option>
                    <mat-option value="Tamil">Tamil</mat-option>
                    <mat-option value="Hindi">Hindi</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxHide.xs mat-icon-button fxLayout="column" fxLayoutAlign="center center">
            <div [matMenuTriggerFor]="accountMenu">
                <img src="assets/icons/profile_icon.png"
                    style="width: 55px;height: 55px; margin-top: 27px;cursor: pointer;" alt="Audits set-up in Chrome DevTools" />
            </div>
            <mat-menu #accountMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Profile</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sign Out</span>
                </button>
            </mat-menu>
        </div>
        <div fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl (click)="onToggle()">
            <div *ngIf="toggleMenu == false; else menu">
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <ng-template #menu>
                <div fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-icon-button fxLayout="column"
                    fxLayoutAlign="center center" class="icon-img">
                    <img src="../../../../assets/icons/share.png" class="orders-icon" alt="my orders" alt="Audits set-up in Chrome DevTools">
                    <span class="icon-text">Share</span>
                </div>
                <div fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-icon-button fxLayout="column"
                    fxLayoutAlign="center center" class="icon-img">
                    <img src="../../../../assets/icons/download.png" class="orders-icon" alt="my orders" alt="Audits set-up in Chrome DevTools">
                    <span class="icon-text">Download Web App</span>
                </div>
                <div fxHide.gt fxHide.sm fxHide.md fxHide.lg fxHide.xl mat-icon-button fxLayout="column"
                    fxLayoutAlign="center center" class="icon-img">
                    <img src="../../../../assets/icons/profile_icon.png" class="bag-icon" alt="my orders" alt="Audits set-up in Chrome DevTools">
                    <span class="icon-text">Profile</span>
                </div>
            </ng-template>
        </div>
    </mat-toolbar>
</div>