<div fxLayout="row wrap" style="margin-top: 10px; ">
    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="33%" class="login-screen-height"
        style="border-right: 2px solid gray;padding: 10px;">

        <div class="apps-titles-description">Getsters who have access to APP Development Console are listed below. Any
            Changes made shall reflect only
            on approval from the official email id of <a href="Your Biz Name.">Your Biz Name.</a></div>


        <div fxLayout="row" style="width: 100%; margin-top: 5px;">
            <div fxFlex="100" fxFlex.gt-xs="80" fxLayoutAlign="start" class="apps-titles-style">Approved Console Users:
            </div>
            <div fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="end">
                <button class="deny-access-btn" mat-stroked-button>
                    Deny Access
                </button>
            </div>
        </div>

        <div class="mat-elevation-z8" style="margin-top: 10px;">
            <table mat-table [dataSource]="dataSource">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="userid">
                    <th mat-header-cell *matHeaderCellDef> User ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="mobileno">
                    <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileno}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div class="normal-text" style="margin-left: 24px; margin-top: 10px;" fxLayoutAlign="start start">user id:
            2012051</div>

        <div fxLayout="row wrap" style="margin-top: 10px; width: 100%; margin-left: 7px;">
            <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="25%"></div>
            <div fxFlex="46" fxFlex.xs="100%" fxFlex.sm="25%" style="width: 100%;">
                <table>
                    <tr class="pth">
                        <td class="ptd">Approved By</td>
                        <td class="ptd"><a style="cursor: pointer;" href="" class="primary-color">Antony S</a></td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Category</td>
                        <td class="ptd">Employee/Unit 1/HR
                            Head
                        </td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Approved Date</td>
                        <td class="ptd">11th October 2020
                        </td>
                    </tr>
                </table>
            </div>
            <div fxFlex="1" fxFlex.xs="100%" fxFlex.sm="25%"></div>
            <div fxFlex="47" fxFlex.xs="100%" fxFlex.sm="25%" style="width: 100%;">
                <table>
                    <tr class="pth">
                        <td class="ptd">Registered By</td>
                        <td class="ptd"><a style="cursor: pointer;" href="" class="primary-color">Antony S</a></td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Category</td>
                        <td class="ptd">Employee/Unit 1/HR Head
                        </td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Registered Date</td>
                        <td class="ptd">10th October 2020
                        </td>
                    </tr>
                </table>


                <table>
                    <tr class="pth">
                        <td class="ptd">Last Modified</td>
                        <td class="ptd"><a style="cursor: pointer;" href="" class="primary-color">Vijay N</a></td>
                    </tr>
                </table>


                <table>
                    <tr class="pth">
                        <td class="ptd">Category</td>
                        <td class="ptd">Employee/Unit 1/HR
                            Head</td>
                    </tr>
                </table>


                <table>
                    <tr class="pth">
                        <td class="ptd">Modified Date</td>
                        <td class="ptd">15th October 2020
                        </td>
                    </tr>
                </table>
            </div>
            <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="25%"></div>
        </div>


    </div>

    <div fxFlex="50" fxFlex.xs="100%" fxFlex.sm="33%" style="padding: 10px;">
        <div class="apps-titles-description" style="line-height: 31px;">Getsters without registered mobile numbers /
            email shall not be listed
            below.</div>

        <div fxLayout="row" style="width: 100%; margin-top: 5px;">
            <div fxFlex="100" fxFlex.gt-xs="80" fxLayoutAlign="start" class="apps-titles-style">Users with no acess to
                console:</div>
            <div fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="end">
                <button class="approve-access-btn" mat-stroked-button>
                    Approve Access
                </button>
            </div>
        </div>

        <div class="mat-elevation-z8" style="margin-top: 10px;">
            <table mat-table [dataSource]="dataSource">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="userid">
                    <th mat-header-cell *matHeaderCellDef> User ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="mobileno">
                    <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileno}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div class="normal-text" style="margin-left: 24px; margin-top: 10px;" fxLayoutAlign="start start">user id:
            2012051</div>

        <div fxLayout="row wrap" style="margin-top: 10px; width: 100%; margin-left: 7px;">
            <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="25%"></div>
            <div fxFlex="46" fxFlex.xs="100%" fxFlex.sm="25%" style="width: 100%;">
                <table>
                    <tr class="pth">
                        <td class="ptd">Registered By</td>
                        <td class="ptd"><a style="cursor: pointer;" href="" class="primary-color">Antony S</a></td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Category</td>
                        <td class="ptd">Employee/Unit 1/HR Head
                        </td>
                    </tr>
                </table>

                <table>
                    <tr class="pth">
                        <td class="ptd">Registered Date</td>
                        <td class="ptd">10th October 2020
                        </td>
                    </tr>
                </table>

            </div>
            <div fxFlex="1" fxFlex.xs="100%" fxFlex.sm="25%"></div>
            <div fxFlex="47" fxFlex.xs="100%" fxFlex.sm="25%" style="width: 100%;">


                <table>
                    <tr class="pth">
                        <td class="ptd">Last Modified</td>
                        <td class="ptd"><a style="cursor: pointer;" href="" class="primary-color">Vijay N</a></td>
                    </tr>
                </table>


                <table>
                    <tr class="pth">
                        <td class="ptd">Category</td>
                        <td class="ptd">Employee/Unit 1/HR
                            Head</td>
                    </tr>
                </table>


                <table>
                    <tr class="pth">
                        <td class="ptd">Modified Date</td>
                        <td class="ptd">15th October 2020
                        </td>
                    </tr>
                </table>
            </div>
            <div fxFlex="2" fxFlex.xs="100%" fxFlex.sm="25%"></div>
        </div>
    </div>
</div>