@import '../../../../../../styles.css';

.lap-size{
    height: 364px;
    width: 500px;
  }

.title{
    color: #9A9A9A;
    border-radius:20px;
    font-size: 16px;
}

.img1
{
  position: relative;
  top: 0;
  left: 0;
}
.img2
{
  position: absolute;
  top: 48px;
  left: 90px;
  width: 201px;
  height: 321px;
}
.img3
{
  position: relative;
  top: 0;
  left: 0;
}
.img4
{
  position: absolute;
  top: 25px;
  left: 46px;
  width: 396px;
  height: 231px;
}

@media only screen and (max-width: 360px) {

    .img4{
      position: absolute;
      top: 18px;
      left: 32px;
      width: 264px;
      height: 156px;
    }
  }
  
  @media only screen and (max-width: 599px) {
  
    .lap-size{
      height: 254px;
      width: 340px;
    }
    .img4{
      position: absolute;
      top: 18px;
      left: 32px;
      width: 264px;
      height: 156px;
    }
    .img5{
      width: 266px;
      height: 160px;
    }
  
  }

  